.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.picture-box {
  margin-top: 50px;
  width: 80%;
  height: 400px;
  border: 1.5px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.picture-box-title {
  text-align: center;
  margin: 35px 10px 30px 20px;
}

.picture-box-description {
  font-size: 20px;
  width: 70%;
  height: 50%;
  text-align: justify;
  margin: auto;
}

.wrapper{
  width: 30%;
  max-width: 500px;
  height: 200px;
  margin: 100px 50px 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slides img{
  border-radius: 10px;
  width: 100%;
}

.mini-box {
  margin-top: 20px;
  width: 50%;
  height: 210px;
  border: 1.5px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.mini-box-title {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.mini-box-description {
  font-size: 20px;
  width: 80%;
  height: 50%;
  text-align: justify;
  margin: auto;
}

.mini-box-img img{
  margin: 22.5px 0px 50px 40px;
  border-radius: 10px;
  width: 250px;
  height: 160px;
}

.mini-box-button{
  width: 120px;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 10px;
  margin-left: 260px;
  margin-top: 10px;
}
