<html>
<head>
    <title>Bank</title>
    <link rel="stylesheet" href="css/bank.css"/>
    <link rel="shortcut icon" href="images/Bank_Logo.png"/>
</head>
<body>
    <div class="App-header">
        <img src="images/Bank_Logo.png" class="App-logo" alt="logo" />
        <h2>Good Bank</h2>
    </div>
    <div class="App">
        <div class="App-Form">
            <p class="App-intro">Witaj w Good Bank</p>
            <form action="/bank" method="post">
                <input type="text" name="name" placeholder="Podaj Imię i Nazwisko"><br>
                <input type="text" name="pin" placeholder="Podaj pin do Konta"><br>
                <input type="submit" value="Zaloguj Się">
            </form>
            <p class="messages"><%= Message %></p>
        </div>
    </div>
</body>
</html>