<html>
<head>
    <title>Bank</title>
    <link rel="stylesheet" href="css/bank.css"/>
    <link rel="shortcut icon" href="images/Bank_Logo.png"/>
</head>
<body>
    <div class="App-header">
        <img src="images/Bank_Logo.png" class="App-logo" alt="logo" />
        <h2>Good Bank</h2>
    </div>
    <div class="App">
        <%- include('Login'); %>
    </div>
</body>
</html>