<div class="App-Form">
    <p class="App-intro">Witaj w Good Bank</p>
    <form action="/bank" method="post">
        <input type="text" name="name" placeholder="Podaj Imię i Nazwisko"><br>
        <input type="text" name="pin" placeholder="Podaj pin do Konta"><br>
        <input type="submit" value="Zaloguj Się">
    </form>
</div>