<html>
<head>
    <title>Bank</title>
    <link rel="stylesheet" href="css/bank.css"/>
    <link rel="shortcut icon" href="images/Bank_Logo.png"/>
</head>
<body>
    <div class="App-header">
        <img src="images/Bank_Logo.png" class="App-logo" alt="logo" />
        <h2>Good Bank</h2>
    </div>
    <div class="App">
        <div class="Menu">
            <p class="Data">Tu będą dane</p>
            <form>
                <input type="text" name="name" placeholder="Wybierz Kolejną Opcję"><br>
                <input type="submit" value="Wybierz">
            </form>
            <p class="Menu-Option">1. Wyświetl Dane</p>
            <p class="Menu-Option">2. Dodaj Nowe Konto</p>
            <p class="Menu-Option">3. Wpłata Środków</p>
            <p class="Menu-Option">4. Wypłata Środków</p>
            <p class="Menu-Option">5. Sprawdź Saldo</p>
            <p class="Menu-Option">6. Wyświetl Listę Klientów z Bazy</p>
            <p class="Menu-Option">7. Wyśwtetl Listę Kont Klienta</p>
            <p class="Menu-Option">8. Wyjście</p>
        </div>
        <html>
    </div>
</body>
</html>